<div class="container container-lg">
  <div class="margin">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col">Sprite</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of listPokemon" (click)="openModal(pokemon)">
          <td > {{ pokemon.id }}</td>
          <td >
            <img src="{{ pokemon.sprites.front_default }}" alt="" width="50" height="50">
          </td>
          <td class="text-capitalize">
            {{ pokemon.name }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button class="btn btn-sm" (click)="previousPage()" *ngIf="offset !== 0">
        <img src="/assets/arrow_left.svg" alt="" width="30" height="30">
      </button>
      <button class="btn btn-sm" (click)="nextPage()">
        <img src="/assets/arrow_right.svg" alt="" width="30" height="30">
      </button>
    </div>
  </div>
</div>
